# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
pip-log.txt
pip-delete-this-directory.txt

# Virtual environment
env/
venv/
*.venv

# Django
db.sqlite3
*.log
media/

# VSCode
.vscode/

# Environment variables
*.env
*.env.*

# OS-specific (Windows/macOS)
Thumbs.db
.DS_Store

# JetBrains/PyCharm (optional, if you use it)
.idea/
